@model ProductosViewModels

@{
    ViewData["title"] = "Crear Productos";
}

<section class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <article class="border rounded p-5">
        <form method="post" asp-controller="Productos" asp-action="CrearProducto">
            <section class="from-group p-2">
                <label class="from-label" asp-for="Descripcion">Descripcion</label>
                <input class="from-control-sm" type="text" asp-for="Descripcion">
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </section>
            <section class="from-group p-2">
                <label class="from-label" asp-for="Precio" >Precio</label>
                <input class="from-control-sm" type="number" asp-for="Precio">
                <span asp-validation-for="Precio" class="text-danger"></span>
            </section>
            <section class="form-group p-2" >
                <input class="btn btn-primary" type="submit" value="Crear"  >
                <a asp-controller="Productos" asp-action="Index" class="btn btn-danger" >Volver</a>
            </section>
        </form>
    </article>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}