@model Productos
@{
    ViewData["titulo"] = "Editar producto";
}
<h4>@ViewData["titulo"]</h4>

<section class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <article class="border rounded p-5">
        <form asp-controller="Productos" asp-action="Modificar" method="post">
            <input hidden asp-for="idProducto" />
            <section class="from-group p-2">
                <label class="from-label" asp-for="Descripcion"  >Descripcion</label>
                <input class="from-control-sm" type="text" asp-for="Descripcion" value="@Model.Descripcion"/>
            </section>
            <section class="from-group p-2">
                <label class="from-label" asp-for="Precio" >Precio</label>
                <input class="from-control-sm" type="text" asp-for="Precio" value="@Model.Precio" />
            </section>
            <section class="form-group p-2">
                <input class="btn btn-primary" type="submit" value="Modificar">
                <a class="btn btn-primary" asp-controller="Productos" asp-action="Index" >Volver</a>
            </section>
        </form>
    </article>
</section>

